[push]
  default = current
  followTags = true
[pull]
	rebase = true
  tags = true
[branch]
  autosetuprebase = always
  autosetupmerge = true
[user]
  name = Justin Searls
  email = searls@gmail.com
[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore_global
  mergetool = opendiff
  autostash = true
[heroku]
  account = personal
[merge]
  tool = vimdiff
  conflictstyle = diff3
[diff]
  renames = true
[help]
  autocorrect = 1
[mergetool]
  prompt = false
[github]
  user = searls
[credential]
  helper = osxkeychain
[rebase]
  autostash = true
[rerere]
  enabled = true
  autoupdate = true
[init]
	defaultBranch = main
[alias]
  force = push --force-with-lease
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"

[advice]
	detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /Users/justin/Library/Mobile Documents/com~apple~CloudDocs/dotfiles
