[push]
	default = current
[branch]
	autosetuprebase = always
	autosetupmerge = true
[user]
	name = Jeremy Searls
	email = searls@me.com
[core]
	editor = mvim -f
	excludesfile = /Users/JeremySearls/.gitignore_global
	mergetool = opendiff
[heroku]
	account = personal
[merge]
	tool = opendiff
[diff]
	renames = true
[help]
	autocorrect = 1
