[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
