/.homebridge/persist
/.vim/swapfiles
/.vim/undo-dir
/.vim/.netrwhist
/.env
/config/alfred
/project-dotfiles/**/*
/.config/raycast
/.config/gh
/.config/stripe
/.config/configstore
/.config/karabiner/automatic_backups
/.config/simple-update-notifier
/bin/yt-dlp
/config/mackup
/.netrc
/models
