[push]
  default = current
[branch]
  autosetuprebase = always
  autosetupmerge = true
[user]
  name = Justin Searls
  email = searls@gmail.com
[core]
  editor = vim
  autocrlf = input
  excludesfile = /Users/justin/.gitignore_global
  mergetool = opendiff
  autostash = true
[heroku]
  account = personal
[merge]
  tool = vimdiff
  conflictstyle = diff3
[diff]
  renames = true
[help]
  autocorrect = 1
[mergetool]
  prompt = false
[github]
  user = searls
[credential]
  helper = osxkeychain
[rebase]
  autostash = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
